body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container {
    background-color: #1DB954;
    padding: 10px 300px 10px 275px ;
    border-radius: 10px;
    
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-weight: bold;

}
input[type="text"]:HOVER,
input[type="password"]:HOVER{
    
    background-image: linear-gradient(to bottom right , rgb(255, 255, 255),  rgb(64, 255, 0));


}

input[type="submit"] {
    width: 108%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-image: linear-gradient(to bottom right ,rgb(8, 8, 8), rgb(64, 255, 0));
}
#a1{
    display: flex;
    width: 100%;
    font-weight: bold;

    justify-content: right;
    height: 80px;
    align-items: center;
    background-color:#1DB954;
    border-radius: 20px;

}
a{
    font-size:x-large;
    color:white;
    margin-right: 50px;
    transition: 0.5s;
    width: 140px;
    text-align: center;
    border-radius: 100px;
    background-color:black ;
    
}
a:hover{
    background-image: linear-gradient(to bottom right ,rgb(8, 8, 8), rgb(64, 255, 0));

}
#a3{
 padding-bottom: 500px;

}

